.dashboard {
  padding: 10px;
}

.dashboard-title {
  font-size: 1.4rem;
  margin-bottom: 16px;
  color: var(--color-letra);
  font-family: monospace;
}

.dashboard-toggle-button{
  margin-bottom: 1rem;
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-letra);
  color: var(--color-rojo);
  font-family: monospace;
  font-size: 1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 14px;
}

.dashboard-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 140px;
  height: 100%;
  justify-content: center;
  background: var(--color-letra);
  border-radius: 12px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 6px 18px var(--color-rojo);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  font-family: monospace;
}

.dashboard-card:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.dashboard-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
}

.dashboard-value {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: monospace;
  color: #111;
}

.dashboard-label {
  font-size: 0.85rem;
  color: #666;
}

/* Colores por tipo */
.libres .dashboard-icon {
  background: #e3f2fd;
}

.ocupadas .dashboard-icon {
  background: #fff3e0;
}

.activos .dashboard-icon {
  background: #ede7f6;
}

.completados .dashboard-icon {
  background: #e8f5e9;
}

.productos .dashboard-icon {
  background: #fce4ec;
}

.ingresos .dashboard-icon {
  background: #e0f2f1;
}

.ticket .dashboard-icon {
  background: #f3e5f5;
}
