.pedidos-lista-container {
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pedidos-lista-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-letra);
}

.pedidos-lista-empty {
  text-align: center;
  color: #777;
  font-style: italic;
}

.pedidos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pedido-card {
  position: relative;
  border: 1px solid var(--color-letra);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 6px 18px var(--color-rojo);
  transition: .4s;
  backdrop-filter: blur(10px);
}

.pedido-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.pedido-mesa {
  font-weight: bold;
}

.pedido-estado {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: var(--color-letra);
  color: var(--color-fondo);
  padding: 5px 10px;
  border-radius: 1rem;
}

.pedido-productos {
  border-top: 4px dashed var(--color-rojo);
  list-style: none;
  padding-left: 0;
  margin: 5px 0;
  margin-bottom: 1rem;
}

.pedido-producto {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  margin: 10px 15px;
}

.pedido-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 5px 0;
  margin-bottom: 1rem;
  border-top: 4px dashed var(--color-rojo);
}

.cargar-mas-btn {
  display: block;
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 0.5rem;
  background: #4caf50;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.cargar-mas-btn:hover {
  background-color: #4caf4f8f;
}

.eliminar-pedido-btn {
  font-family: monospace;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-fondo);
  color: var(--color-letra);
  opacity: 0.5;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}

.eliminar-pedido-btn:hover {
  background: #b71c1c;
  opacity: 1;
}


@media (max-width: 600px) {
  .pedidos-lista-container {
    width: 100%;
  }
}