/* CONTENEDOR GENERAL */
.public-menu-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 24px 16px;
  color: var(--color-letra);
  background-color: var(--color-negro);
  font-family: "Poppins", sans-serif;
}

/* TITULO */
.public-menu-title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
}

.public-menu-subtitle {
  text-align: center;
  font-size: 25px;
  color: rgba(128, 128, 128, 0.807);
  margin-bottom: 3rem;
  font-family: Comic;
  font-style: italic;
}

/* BOTONES DE CATEGORÍAS */
.public-menu-categories-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: center;
}

.public-menu-category-btn {
  padding: 6px 10px;
  background-color: #111111;
  border: 4px dashed #2a2a2a;
  border-radius: 20px;
  color: var(--color-letra);
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.public-menu-category-btn:hover {
  background-color: var(--color-rojo);
  color: #fff;
  border-color: var(--color-rojo);
}

/* CATEGORÍA */
.public-menu-category {
  margin-bottom: 36px;
}

.public-menu-category-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  border-bottom: 7px dashed #2a2a2a;
  padding-bottom: 8px;
  margin-bottom: 14px;
}

/* LISTA */
.public-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ITEM - CARD */
.public-menu-item {
  display: flex;
  align-items: center;
  background-color: var(--color-negro);
  padding: 12px 16px;
  border-radius: 12px;
  gap: 12px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
    cursor: pointer;
}

.public-menu-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.393);
}

/* IMAGEN DEL PRODUCTO */
.public-menu-item-img {
  flex-shrink: 0;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #2a2a2a;
}

.public-menu-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFORMACIÓN DEL PRODUCTO */
.public-menu-item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.public-menu-item-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-letra);
}

.public-menu-item-subtitle {
  width: 80%;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: rgb(133, 124, 124);
  padding: 5px 10px;
}

.public-menu-item-price {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-rojo);
  font-family: monospace;
}

/* BOTÓN AGREGAR */
.public-menu-item-add {
  background-color: var(--color-rojo);
  color: var(--color-letra);
  border: none;
  font-size: 22px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background 0.2s,
    transform 0.2s;
}

.public-menu-item-add:hover {
  background-color: #ff4d4d;
  transform: scale(1.1);
}

/* LOADING */
.public-menu-loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-letra);
  font-size: 16px;
  font-weight: 500;
}


/* RESPONSIVE */
@media (max-width: 600px) {
  .public-menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .public-menu-item-img {
    width: 100%;
    height: 350px;
  }

  .public-menu-item-info {
    width: 100%;
    margin-top: 8px;
  }

  .public-menu-item-add {
    align-self: flex-end;
  }
}
