.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease forwards;
  z-index: 1000;
}

.product-modal-content {
  background-color: #111;
  color: var(--color-letra);
  border-radius: 12px;
  width: 90%;
  max-width: 480px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  padding-bottom: 24px;
  animation: slideIn 0.3s ease forwards;
}

/* Botón cerrar */
.product-modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}

.product-modal-close:hover {
  color: var(--color-rojo);
}

/* Imagen producto */
.product-modal-img {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}
.product-modal-img img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

/* Info producto */
.product-modal-info {
  padding: 16px;
}

.product-modal-info h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.product-modal-info p:first-of-type {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  color: rgb(133, 124, 124);
  padding: 5px 10px;
}

.product-modal-price {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-rojo);
  margin-bottom: 16px;
}

/* Opciones condimentos */
.product-modal-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.product-modal-options h4 {
  margin-bottom: 8px;
}

.product-modal-options label {
  font-size: 14px;
  cursor: pointer;
}

/* Botón agregar */
.product-modal-add {
  width: 100%;
  padding: 12px;
  background-color: var(--color-rojo);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.product-modal-add:hover {
  background-color: #ff4d4d;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.cart-item-extras {
  margin-top: 4px;
  font-size: 12px;
  color: #9aecb8;
}
