:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-letra);
  background-color: var(--color-fondo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-letra: #e8d1af;
  --color-fondo: #090908;
  --color-rojo: #b63925;
  --title-font: "Helvetica";
  --text-font: "DM Mono";

  --bg-main: #0a0b06;
  --bg-card: #161a20;
  --bg-card-hover: #1f242c;
  --primary: #b63925;
  --secondary: #ffb000;
  --success: #00d26a;
  --text-main: #ffffff;
  --text-muted: #9aa4b2;
  --border-dark: #2a2f38;
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", system-ui, sans-serif;
}
